.App {
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #282c34;
  width: 100vw;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;

}

.container-main {
  
}

.container-flex {
  display: flex;
  align-items: center;
  justify-content: center;

}

.container-img {
  display: grid;
  align-items: center;
  justify-content: center;
  width: '100%';
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.formInputs {
  display: grid;
  align-items: center;
  justify-content: center;
  width: 100vw;
}

.align-items-center {
  align-items: center;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-space-between {
  justify-content: space-between;
}

.justify-content-space-around {
  justify-content: space-around;
}

.display-grid {
  display: grid;
}

.display-flex {
  display: flex;
}






@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
